<html>
<head>
    <title>career recommender</title>
</head>
<body>
<h1>career recommender</h1>
<p>message: Sorry it is not styled</p>
<p>in the grade entry part, <li>0 represents Fail </li>
                            <li>1 represents Meet Expectation </li>
                            <li>2 represents Approaching Expectation </li>
                            <li>3 represents Exceeds Expectation </li></p>

                            
<form action="result">
    <table>
        <tr>
            <td>Enter your grade score</td>
            <td><input type="number" name="grade" required></td>
        </tr>
        <tr>
            <td>Enter Percentage</td>
            <td><input type="number" name="percentage" required></td>
        </tr>
        <tr>
            <td>Enter Career Category</td>
            <td><input type="number" name="careercategory" required></td>
        </tr>
        <tr>
            <td>Enter  Talent</td>
            <td><input type="number" name="talent" required></td>
        </tr>
        
         
        <tr>
            <td><input type="submit" name="submit" value="Recommende Career"></td>
        </tr>
    </table>
    
</form>
</body>
</html>
